.app{
    margin: 10% 20%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
}

.app > div{
    border: 1px solid black;
    width: 100%;
}

.menu, .home, .home-tabs, .projects, .projects-tabs, .todo, .tasks{
    display: flex;
    flex-direction: column;
}

.todo-main{
    display: flex;
}
