.app{
    margin: 10% 20%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
}

.app > div{
    border: 1px solid black;
    width: 100%;
}

.dots-project-form, .menu, .home, .home-tabs, .projects, .projects-tabs, .todo, .tasks{
    display: flex;
    flex-direction: column;
}

.todo-main, .project-item{
    display: flex;
}

.project-item{
    justify-content: space-between;
}

.project-item > button{
    width: 100%;
}

.dots{
    height: 20px;
}

.dots-project-form{
    position: absolute;
    z-index: 1;
    bottom: 22px;
    right: 8px;
}

.edit-project-div{
    position: relative;
}