.app{
    margin: 10% 20%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
}

.app > div{
    border: 1px solid black;
    width: 100%;
}

.dots-project-form, .menu, .home, .home-tabs, .projects, .projects-tabs, .todo, .tasks{
    display: flex;
    flex-direction: column;
}

.todo-main, .project-item, .todo-btns{
    display: flex;
}

.project-item{
    justify-content: space-between;
}

.project-item > button{
    width: 100%;
}

.dots{
    height: 20px;
}

.dots-project-form{
    position: absolute;
    z-index: 1;
    bottom: 22px;
    right: 8px;
}

.edit-project-div{
    position: relative;
}

.todo-btns > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
}

.todo-btns img{
    height: 20px;
    margin: 0;
    padding: 0;
}

.executed{
    border: 1px solid black;
    display: flex;
    width: 10px;
    margin: 2px 2px 8px 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}